nav{
    background-color: powderblue  
}
ol{
    height: 90px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

nav>ol>li{
font-weight: bold;
font-style: italic;
font-family: 'Courier New', Courier, monospace;
background-color: lightgreen;
padding: 10px 20px;
border-radius: 10px;
box-shadow: 2px 2px 5px;
}